<div class="card">
  <div class="card-header">Datos de la lista</div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= @list.created_at.strftime( "Creado el %m/%d/%Y a las %I:%M:%S%p") %>
    </li>
    <li class="list-group-item" id="list-update">
      <%= @list.updated_at.strftime("Actualizado el %m/%d/%Y a las %I:%M:%S%p") %>
    </li>
    <li class="list-group-item">Cantidad de tareas:
      <span class="tasks-count"> <%= @list.tasks.count %> </span>
    </li>
  </ul>
  <div class="card-footer"> 
    <%= link_to 'Destroy', @list,  method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
    <a role="button" class="btn btn-primary" data-link data-clipboard-text="<%= request.url %>">Copiar Link</a>
  </div>
</div>