<div class="col-md-3 box-task pending">
    <div id="pending">
      <%= render partial: 'tasks/pending'%>   
    </div>
</div>
<div class="col-md-3 box-task in-progress">
  <div class="well">
    <h4 class="text-warning"><span class="label label-success pull-right"><%= @list.tasks.in_progress.count %></span> <%= t(:in_progress) %> </h4>
  </div>
  <% if @list.tasks.in_progress.count > 0 %>
    <% @list.tasks.in_progress.each do |t|%>
        <%= render partial: 'tasks/in_progress', locals: {t: t} %>
    <% end %>  
  <% else %>  
    <%= t(:no_task_in_progress) %>
  <% end %>
</div>
<div class="col-md-3 box-task completed">
  <div class="well">
    <h4 class="text-success"><span class="label label-success pull-right"><%= @list.tasks.completed.count %></span> <%= t(:made) %> </h4>
  </div>

  <% if @list.tasks.completed.count > 0 %>
    <% @list.tasks.completed.each do |t|%>
        <%= render partial: 'tasks/finished', locals: {t: t} %>
        </div>
      </div>
    <% end %>  
  <% else %>  
    <%= t(:no_completed_tasks) %>
  <% end%>
</div>
<div class="col-md-3 box-task expired">
  <div class="well">
    <h4 class="text-danger"><span class="label label-danger pull-right"><%= @list.tasks.expired.count %></span> <%= t(:expired) %> </h4>
  </div>
  <% if @list.tasks.expired.count > 0 %>
    <% @list.tasks.expired.each do |t|%>
        <%= render partial: 'tasks/finished', locals: {t: t} %>
        </div>
      </div>
    <% end %>  
  <% else %>  
    <%= t(:no_expired_tasks) %>
  <% end%>
</div>